.List__all__items {
  margin-top: 150px;
  width: 95%;
  display: flex;
  background-color: white;
}
.List__items__one {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(245, 229, 244);
  text-align: center;
}
.List__items__two {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(245, 229, 244);
  text-align: center;
  margin: 10px;
}

.List__items__three {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: white;
  text-align: center;
  border-color: rgb(245, 229, 244);
}

.List__items_img {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 20px;
  background-color: white;
}
.List__items_header {
  color: blueviolet;
  text-align: center;
  padding: 20px;
  background-color: white;
}
.List__items_paragraph {
  background-color: white;
  font-weight: bold;
}

ul {
  list-style-type: none;
  background-color: white;
  font-weight: bold;
}
li {
  padding: 10px;
  text-align: center;
  background-color: white;
  font-weight: bold;
}

.testimonials {
  background-color: white;
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  width: 100%;
}
.main--header--of--testimonials {
  margin-bottom: 50px;
  background-color: white;
}
.first--header {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: white;
}
.second--header {
  font-weight: lighter;
  font-size: 25px;
  background-color: white;
}
.carousel {
  background-color: white;
  display: none;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }
  .product-image {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .desciption {
    width: 700px;
    margin-top: 40px;
    margin-left: 250px;
  }

  h2{
    font-weight: lighter;
    font-size: medium;
    margin-bottom: 50px;
  }
}
