.Middle {
  align-items: center;
  text-align: center;
  height: 500px;
  background-color: blueviolet;
  width: auto;
}

.Middle__header {
  margin-top: 50px;
  padding: 50px;
  color: aliceblue;
}
.Middle__paragraph {
  margin-left: 400px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  color: aliceblue;
}

