.p-card{
&.p-card-content{
  background-color: red;

}
}




.Top {
  text-align: center;
  width: 100%;
  padding: 50px;
}

.Top__header {
  font-size: 30px;
  margin-left: 300px;
  width: 700px;
}

.Top__img {
  height: 200px;
  margin-top: 70px;
}
.Top,
.Top__header,
.Top__img {
  background-color:white;
}
